html{
	box-sizing:border-box;
}

*,
*::before, 
*::after{
    box-sizing: inherit;
}

body {

    font-family: 'Open Sans', sans-serif;
    color: #555252;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 26px;/* Приближение из-за подстановки шрифтов */
    margin: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding-top: 38px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.page-header {
  margin-bottom: 40px;
}

.site-logo {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #555252;
    font-size: 30px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 32px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.site-logo:first-letter {
    color: #1abc9c;
    font-weight: 900;
}

/*site-navigation*/

.site-navigation {
    float: right;
    width: 467px;
    margin: 0;
    margin-top: 12px;
    padding: 0;
    list-style: none;
}

.site-navigation li {
    float: left;
}

.site-navigation li:not(:last-child) {
    margin-right: 32px;
}

.site-navigation a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #0f0101;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 17px;
    text-align: right;
}
  
  .site-navigation a:hover,
  .site-navigation a:focus {
    color: #1abc9c;
}

/* SLIDER */

.slider {
  min-height: 600px;
  background-image: url('../img/slide4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.slider-title{
  position: relative;
  min-height: 600px;
  text-align: left;
  margin: auto;
}

.slider-ctrl{
  display: inline-block;
  width: 104px;
  height: 104px;
  border: 0;
  background-color: #1abc9c;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: Pe;
  color: #ffffff;
  font-size: 100px;
  line-height: 11px;
  cursor: pointer;
}

.slider-ctrl-prev{
  left: 0;
}

.slider-ctrl-prev::before {
  display: inline-block;
  content: '';
  width: 22px;
  height: 38px;
  background-image: url('../img/icon_prew.png');
  background-size: contain;
  background-position: center;
  vertical-align: middle;
}

.slider-ctrl:hover {
  background-color: rgba(78, 198, 171, 0.65);
}

.slider-ctrl-next{
  right: 0;
}

.slider-ctrl-next::before {
  display: inline-block;
  content: '';
  width: 22px;
  height: 38px;
  background-image: url('../img/icon_next.png');
  background-size: contain;
  background-position: center;
  vertical-align: middle;
}

.slides-list{
  padding: 0;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 18%;
  transform: translateY(-50%);
  width: 1100px;
  list-style: none;
}

.slides-item p{
  color: #fff;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.slides-title{
  margin: auto;
  margin-bottom: 35px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3;
}

.slides-descr{
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 35px;
}

/*Featured products section*/

.featured-products {
  background-color: #e9f0fd;
  padding-top: 100px;
  padding-bottom: 86px;
}

.sectoin-header {
font-family: 'Roboto', sans-serif;
color: #515151;
font-size: 48px;/* Приближение из-за подстановки шрифтов */
font-weight: 900;
line-height: 32px;/* Приближение из-за подстановки шрифтов */
text-align: center;
margin: 0;
text-transform: uppercase;
}

.sectoin-header::after {
display: block;
content: '';
background-color:  #1abc9c;
width: 164px;
height: 7px;
margin: 0 auto;
margin-top: 32px;
}

/*features-list-css*/ 

.features-list {
    padding: 0;
    list-style: none;
    position: relative;
    display: table;
    margin: 0 auto;
    margin-top: 90px;
}

.features-list li {
    float:left;
}
  
  .features-list-item{
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 255px;
    height: 322px;
    list-style: none;
    position: relative;/*1. указываем, элемент, от которого будет вестись отсчет положения абсолютно позиционированных элементов*/
  
  }

  .overlay {
    width: 100%;
    height: 271px;
    border-width: 10px;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.549);
    border-color: rgb(255, 255, 255); 
    position: absolute;
    opacity: 0;
    }
    
    .features-list-item:hover .overlay {
      opacity: 1;
    }
    
   .social-icons {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      list-style: none;
      padding: 0;
      margin: 0 auto;
    }


   .social-icons li {
    float: left;
    margin-right: 7px;
    margin-bottom: 8px;
  }

  .social-icons li:nth-child(3) {
    margin-right: 0px;
  }

  .social-icons li:last-child {
    margin-right: 0px;
    margin-bottom: 0px;
  }

    .social-icons a {
      display: inline-block;
      border: 1px solid white;
      position: relative;  
    }

    .social-icons-item-1:hover, .social-icons-item-2:hover, .social-icons-item-3:hover {
      /*border-width: 1px;
      border-color: #1abc9c;
      border-style: solid;*/
      background-color: #1abc9c;
    } 

    .social-icons-item-1, .social-icons-item-2, .social-icons-item-3 {
      height: 50px;
      width: 50px;
      position: absolute;             
      top: 50%;
      background-repeat: no-repeat;
      background-position: center;
    }

    .social-icons-item-1 {
      background-image: url('../img/heart.png');
    }

    .social-icons-item-2 {
      background-image: url('../img/but.png');
    }

    .social-icons-item-3 {
      background-image: url('../img/clock.png');
    }

    .cart-button {
      padding: 0px;
      margin: 0px;
      position: absolute;  
      cursor: pointer;
      opacity: 1;
      width: 164px;
      height: 48px;
      line-height: 48px;
      color:#ffffff;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      }
  
    .cart-button:hover {
      background-color: #323232;
    }

    .cart-button::before {
      display: inline-block;
      content: '';
      width: 28px;
      height: 27px;
      background-image: url('../img/cart.png');
      background-size: contain;
      background-position: center;
      vertical-align: middle;
      margin-right: 10px;
    }
    

  .features-list li:nth-child(4n){
    margin-right: 0;
  }

  .features-list li:nth-child(n+5) {
    margin-bottom: 0px;
  }
  
  .features-list-descr{
    position: absolute;/*2. поднимаем над потоком*/
    bottom: 0; /*3. прижимаем к низу его родителя. в данном случае li*/
    text-transform: uppercase;
  }
  
  .features-list-name,
  .features-list-price{
    float: left;
    margin: 0;
    padding-top: 11px;
    padding-bottom: 11px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    line-height: 32px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
  }
  
  .features-list-name{
    width: 201px;
    background-color: #323232;
    padding-left:13px;
    padding-right:13px;
  }
  
  .features-list-price{
    width:54px;
    background-color: #8c8c8c;
    text-align: center;
  }
  
  .features-list li:hover .features-list-name{
    background-color:  #1abc9c;
  }
  
  .features-list li:hover .features-list-price{
    background-color: #7fd9c7;
  }
  
  .features-list-item{
    cursor:pointer;
  }
  

  /*news section*/

  .latest-news {
    margin: 0;
    padding: 0;
    margin-top: 90px;
  }

  .latest-news-item {
    float: left;
    margin-right: 30px;
    width: 350px;
    list-style: none;
    position: relative;/*1. указываем, элемент, от которого будет вестись отсчет положения абсолютно позиционированных элементов*/
    
  }
  
  .latest-news li:nth-child(3n){
    margin-right: 0;
  }

  .latest-news-heder {
    color: #555252;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    line-height: 26px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin: 0;
    margin-top: 15px;
  }

  .latest-news-heder::after {
    display: block;
    content: '';
    background-color: #4ec6ab;
    width: 136px;
    height: 3px;
    margin-top: 15px;
    }

   .latest-news-announcement {
       width: 335px;
       text-align: left;
       margin: 0;
       margin-top: 30px;
    }

  
footer {
  background-color: #323232;
  height: 88px;
  position: relative;
}

.footer-text {
  color: #fefefe;
  text-align: center;
  font-size: 16px;/* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 28px;/* Приближение из-за подстановки шрифтов */
  position: relative;              
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin-top: -4px;
}

.footer-colored-text {
  color: #7fd9c7;
}
